<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757060841020-i0qbst39egk4gncrnpi99ri4qmsghn6a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757060841020-i0qbst39egk4gncrnpi99ri4qmsghn6a</string>
	<key>API_KEY</key>
	<string>AIzaSyClgC6n7d5lJty7TX2RtQhXmt3QQzpXyWU</string>
	<key>GCM_SENDER_ID</key>
	<string>757060841020</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.team23</string>
	<key>PROJECT_ID</key>
	<string>fir-messaging-2160c</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-messaging-2160c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:757060841020:ios:d85a1fdbd39437981bdd39</string>
	<key>DATABASE_URL</key>
	<string>https://fir-messaging-2160c.firebaseio.com</string>
</dict>
</plist>
